body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.main-card {
    background-color: #1F2937;
    height: 520px;
    width: 1500px;
}

.main-container {
    display: flex;
    gap: 90px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    width: 150px;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

ul > li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.content {
    width: 450px;
    margin-left: 215px;
}

.website-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 5px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button {
    background-color: #0D6EFD;
    border: none;
    padding: 8px 28px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.image-placeholder {
    background-color: gray;
    color: #E5E7EB;
    width: 520px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    font-family: Roboto, 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
}

.information-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 40px;
}

.main-image-container {
    display: flex;
    gap: 50px;
}

.image {
    height: 150px;
    width: 150px;
    border: solid;
    border-color: #0D6DFD;
    border-radius: 10px;
    border-width: 3px;
    margin-bottom: 5px;
}

.image-subtext {
    color: #71797E;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
}

.quote-container {
    display: flex;
    background-color: #E5E7EB;
    height: 300px;
    padding: 50px;
    flex-direction: column;
    margin-top: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
    margin: auto;
    width: 820px;
}

.quote-author {
    display: flex;
    height: 30px;
    width: 930px;
    font-weight: 900;
    justify-content: flex-end;
    font-size: 20px;
}

.call-to-action-container {
    height: 250px;
}

.call-to-action-card {
    width: 1000px;
    height: 150px;
    display: flex;
    background-color: #3882F6;
    border: solid #3882F6;
    border-radius: 8px;
    color: white;
    margin: auto;
    margin-top: 100px;
}

.call-to-action-title {
    font-weight: 800;
    font-size: 25px;
}

.call-to-action-subtext {
    font-size: 18px;
}

.call-to-action-title-and-subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.call-to-action-button > button {
    border: solid white;
    background-color: #3882F6;
    font-size: 18px;
}

.call-to-action-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
}

.footer-container {
    display: flex;
    height: 80px;
    background-color: #1F2937;
    color: white;
}

.footer-text {
    margin: auto;
}
