body {
    margin: 0;
}

.main-card {
    font-family: Roboto, sans-serif;
    background-color: #1F2937;
}

.card-container {
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FaF8;
}

.website-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #0D6EFD;
    border: none;
    padding: 8px 28px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.image-placeholder {
    background-color: gray;
    color: #E5E7EB;
}